//COLORS
$accent-color-cream: #FFFFF0;
$primary-background-color-maroon: #800000;
$text-color-graphite: #696969;
$secondary-background-color-gold: #DAA520;

//FONTS
$primary-font: 'Poiret One', sans-serif;
$secondary-font: 'Copperplate'
