@import '_variables';
@import '_mixins';

body {
  background-color: $primary-background-color-maroon;
  color: $secondary-background-color-gold;
  text-align: center;
  font-family: $primary-font;
}

header {
  background-color: $accent-color-cream;
  color: black;
  text-align: center;
  font-family: $secondary-font;
  width: auto;
}

footer {
  background-color: black;
  color: $secondary-background-color-gold;
  text-align: center;
  font-family: $secondary-font;
  height: auto;
}
.booking-tracker {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 20%);
  height: 20rem;
}

.booking-tracker-card {
  background-color: black;
  color: $accent-color-cream;
  border-radius: 10px;
  margin: 5px;
  overflow-y: scroll;
  height: 80%;
}

.main-login {
  color: black;
  background-color: $secondary-background-color-gold;
}

.customer-info-view {
  color: black;
  background-color: $secondary-background-color-gold;
}

button {
  font-family: $secondary-font;
  background-color: black;
  color:$secondary-background-color-gold;
  margin: 5px;
}

.hidden {
  display: none;
}
